<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>salesVisitIosApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>13</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>114C12E2996DD14F23A3D591C91D3C9B64826B5B</string>
				<key>dateExpires</key>
				<string>13/06/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>114C12E2996DD14F23A3D591C91D3C9B64826B5B</string>
						<key>dateExpires</key>
						<string>13/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3TMKH3D73F</string>
						<key>name</key>
						<string>Ashwini Bs</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3TMKH3D73F.com.salesVisit.xcodeproj</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3TMKH3D73F</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>salesVisitIosApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>96b68c95-e9e3-43dc-9831-9aaa9f16c706</string>
				<key>dateExpires</key>
				<string>13/06/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.salesVisit.xcodeproj</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3TMKH3D73F</string>
				<key>name</key>
				<string>Ashwini Bs</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
